*{
    box-sizing: border-box;
    font-family: "Georgia", Times, serif;
    align-items: center;
}
.name{
    justify-content:left;
}
.menuInner{
    padding-left: 25px;
    line-height: 300%;
    display: flex;  
    align-items: center;    
    justify-content:space-between;;
    padding: 0;
    margin: 500;
}
.home{
    margin-left: 79%;
}
.title{
line-height: 40%;
}
a:link{    color: blue;}
.linking{
    border: 1px solid red;
    border-bottom: 20px;
    background-color: red;
    color: white;
    padding: 3px 20px;
}
ul.link{
    background-color: yellow;
    padding: 10px;
    margin-left: 90%;
}
footer{
    text-align: center;
}
.text1{
    margin-top: -5%;
}
.img{
    margin-left: 50%;
}


